<%- include('partials/header.ejs')%>
<div class="container">
    <div class="row">
        <div class="col">
          <h1><%=article.titre%></h1>
           
            <div class="card" style="width: 18rem;">
                <img src="<%=article.image%>"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><h5>
                  <p class="card-text"> <%=article.desc<p>
                  <a href="/liste-des-articles/<%=article.articleId %>" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>
    </div>
    
</div>
<%- include('partials/footer.ejs')%>